@import 'src/styles.module.scss';

.venueContainer {
  font-size: 1.1rem;
  margin-bottom: .8rem;
}

.venue {
  @include flex;
  margin-top: .4rem;

  //padding: 0.5rem 1rem;
  //transition: all 0.2s ease;
  //border: 2px solid transparent;
  //border-radius: 1rem;
  //&:hover {
  //  border-color: $light_grey;
  //}
}

.image {
  height: 3.2rem;
  margin-right: 1.2rem;
}

.link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    color: $honolulu_blue;
    text-decoration-color: $honolulu_blue;
  }
}