@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$dark_grey: #262626;
$grey: #404040;
$light_grey: #f2f2f2;
$argentinian_blue: #57b8ff;
$honolulu_blue: #2176ae;
$text_blue: #48A6E9;

$nav_bar_height: 4.5rem;

$landscape_tablet_screen_width: 800px;
$portrait_tablet_screen_width: 650px;
$mobile_screen_width: 450px;